html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbf5f5d6;
}

* {
    box-sizing: border-box;
}

.header {
    
    padding: 10px;
}

.main {
    
    padding: 10px;
}

.footer {
    ;
    padding: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


.nav-list {
    display: flex;
    justify-content: center;
    
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    color: black;
    text-decoration: none;

}
.nav-link:hover{
    background:#44bedc;
}
.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
    
}

.section-item a:hover {
    color: #4d2323;
    
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    background-color: #44bedc;
    padding-left:10px;
    border-radius: 15px;
    
   
}
.section-contacts{
    background-color: #44bedc;
    width: 100%;
    height: 200px;    
    padding-left:10px;
    border-radius: 15px;
}

.section-item {
    position: relative;
    padding-left: 30px;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #829985;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
    
}

.link:hover {
    color: #5d7260;
    
}
.name{
    color: #002F55;
}
.code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 80%;
  }
.namebox{
color:white;
  justify-content: center;
     
}
h1{
    font-size:50px;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
}
.jobtitle {
    font-size:25px;
    padding: 0px;
    margin: 0px;
}
.list {
    list-style-type: none;
    
}
.ico{
    vertical-align: middle;
    margin:3px;
}
.list-inline {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    list-style: none;
    
}
.ico-list{
    vertical-align: middle;
    margin-left:20px;
    margin-bottom:20px;
}
.progress{
    position: absolute;
    left: 230px;
    top: 780px;
}
